/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --bg-color: #000;
  --border-color: #00cc14;
  --accent-color: #00cc14;
  --linear-gradient-first: #007f0c;
  --linear-gradient-second: #004306;
  --mix-blend-color: #00cc14;
  --stroke-color: #000;
  --header-weight: 785;
  --text-weight: 465;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --mix-blend-color: #00cc14;
    --border-color: #00cc14;
    --accent-color: #00cc14;
    --linear-gradient-first: #007f0c;
    --linear-gradient-second: #004306;
    --stroke-color: #000;
    --header-weight: 785;
    --text-weight: 465;
  }
}

:root.theme-light {
  --border-color: #000;
  --bg-color: #d3d3d3;
  --linear-gradient-first: #e7e7e7;
  --linear-gradient-second: #1a1a1a;
  --accent-color: #000;
  --mix-blend-color: #fff;
  --border-color: #000;
  --stroke-color: #fff;
  --header-weight: 700;
  --text-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: #000;
    --bg-color: #d3d3d3;
    --linear-gradient-first: #e7e7e7;
    --mix-blend-color: #fff;
    --linear-gradient-second: #1a1a1a;
    --accent-color: #000;
    --border-color: #000;
    --stroke-color: #fff;
    --header-weight: 700;
    --text-weight: 400;
  }
}
